body,
html {
  margin: 0;
  padding: 0;
  min-width: 400px;
}
body {
  font-size: 15px;
  overflow-x: hidden;
  display: block;
  color: #bdc1c6;
  background-color: #202124;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style-type: none;
  gap: 10px;
  padding: 0 20px;
}
li {
  background-color: transparent;
}
svg {
  fill: #bdc1c6;
  width: 24px;
  height: 24px;
}
.flex {
  display: flex;
}
.layout-container {
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}

/* -------Navbar---------- */
.nav {
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.nav ul {
  align-items: center;
}
.nav img {
  width: 32px;
  height: 32px;
}
.nav img,
.nav svg {
  padding: 4px;
  border-radius: 50%;
}
.nav svg:hover,
.nav img:hover {
  background-color: #303134;
}
/* ---------- Main Container ------------ */
.main {
  height: 300px;
  justify-content: center;
}
/* ---------Google Logo-------- */
.logo {
  align-self: flex-end;
  padding: 10px 0;
}
.logo img {
  width: 272px;
  height: 92px;
  fill: white;
}

/* --------Search bar-------- */
.main-item-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: fit-content;
  margin: 0 40px;
}
.search-container {
  border: rgba(189, 193, 198, 0.3) 1px solid;
  padding: 8px 10px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  max-width: 560px;
  width: 100%;
  height: 29px;
}
.search-container:hover {
  background-color: #303134;
  border-color: #171717;
  box-shadow: #171717 1px 1px 1px;
}

.search-container input {
  border: hidden;
  background-color: rgb(0 0 0 / 0%);
  padding: 0;
  margin: 0 10px;
  color: rgb(232 234 237);
  word-wrap: break-word;
  outline: none;
  flex: 100%;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  height: 34px;
  font-size: 16px;
}
.button-container {
  gap: 9px;
  margin-top: 20px;
}
.button-container button {
  background-color: rgb(48 49 52);
  border: 1px solid rgb(48 49 52);
  border-radius: 4px;
  color: rgb(232 234 237);
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.button-container button:hover {
  box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
  background-color: rgb(48 49 52);
  border: 1px solid rgb(95 99 104);
  color: rgb(232 234 237);
}
/* ------ Language Selection ------ */
.language-container {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}
.language-container span {
  color: rgb(138 180 248);
}
/* ---------Footer--------- */
.footer {
  margin-top: auto;
  flex-direction: column;
  background-color: #171717;
}
.footer-top {
  border-bottom: 1px solid rgba(189, 193, 198, 0.1);
}
.footer-bottom {
  justify-content: space-between;
  flex-wrap: wrap;
}
